*{
  
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
 

}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.guardar {

      margin: .5rem 0;
      margin-left: 35%;
      margin: 10px;
      background-color: #4f5de0;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 0px 10px #000;
      width: 25%;
      text-decoration: dashed;
      color: rgb(66, 58, 58);
      font-size: 20px;
  
  
}

.adi{
  margin-left: 45%;
  margin: 10px;
  background-color: #623ee4;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  width: 25%;
  text-decoration: dashed;
      color: rgb(255, 255, 255);
      font-size: 20px;
      text-decoration: dashed;
      color: rgb(253, 255, 255);
      font-size: 20px
  
}

.elim{
  margin-left: 45%;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  width: 25%;
  text-decoration: dashed;
      color: rgb(255, 255, 255);
      font-size: 20px;

}

form {
  text-align: center;
}

textarea {
  height:100px;
}

.limpi{
  margin-left: 45%;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  width: 25%;
  text-decoration: dashed;
      color: rgb(252, 237, 237);
      font-size: 20px;
      text-decoration: dashed;
      color: rgb(231, 154, 154);
      font-size: 20px
  
}